/* Message logger improvements */
.messagelogger-edited,
.messagelogger-deleted {
    filter: brightness(40%) !important;
    transition: filter 150ms;
}

.messagelogger-edited:hover,
.messagelogger-deleted:hover {
    filter: brightness(80%) !important;
}

.messagelogger-edited span {
    display: none;
}

.messagelogger-deleted,
.messagelogger-deleted * {
    color: #f04747 !important;
}

.messagelogger-deleted img {
    filter: grayscale(100%);
}

.messagelogger-deleted img:hover {
    filter: grayscale(0%);
}
